#logo {
    color: rgb(0, 0, 0);
    margin: 2rem;
    text-align: left;
    font-family: 'Lucida Grande', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgb(239, 102, 16), rgb(69, 0, 218));
    border-color: rgb(255, 255, 255);
    border: 10px;
}

body {
    background-image: linear-gradient(rgb(6, 6, 66), rgb(20, 36, 90));
    background-size: 100%;
    text-align: center;


}


.programmes {
    color: rgb(196, 176, 176);

}

.tophead {
    border: 2px solid black;
    width: 300px ;
    background-color: rgb(234, 227, 227);
    color: black;
}

.span {
    border: 2px solid black;
}


table {
    width: auto;
}


