#logo {
    color: blueviolet;
    margin: 2rem;
    text-align: left;
    font-family: 'Lucida Grande', Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(rgb(27, 27, 230), rgb(179, 160, 160));
    background-size: 100%;
    text-align: center;


}


.programmes {
    color: rgb(196, 176, 176);

}

.tophead {
    border: 2px solid black;
    width: 300px ;
}

.span {
    border: 2px solid black;
}


table {
    width: auto;
}


